@import "./base";

div#instructions {
  width: 800px;
}

#app {
  margin-top: 16px;
  #count {
    grid-column: 1;
    grid-row: 1;
  }
  #arrival {
    grid-column: 3;
    grid-row: 1;
  }
  #departure {
    grid-column: 1;
    grid-row: 2;
  }
  #distance {
    grid-column: 2;
    grid-row: 1;
  }
  #airtime {
    grid-column: 1;
    grid-row: 3;
  }
  #dep_delay {
    grid-column: 2;
    grid-row: 2;
  }
  #arr_delay {
    grid-column: 3;
    grid-row: 2;
  }
}

.machine {
  display: inline;
  color: aliceblue;
}

p.machine {
  margin-left: 2px;
}

b.machine {
  margin-left: 3%;
}

div.machineContainer {
  background-color: black;
  width: 100%;
  height: 270px;
  border-style: solid;
  border-color: red;
  overflow-y: scroll;
}
