.machine {
    display: inline;
    color: aliceblue;
}

h1#title {
    display: inline;
}
h1#titleVis {
    text-align: center;
}

p.machine {
    margin-left: 2px;
}

b.machine {
    margin-left: 3%;
}

div.machineContainer {
    background-color: black;
    width: 100%;
    height: 270px;
    border-style: solid;
    border-color: red;
    overflow: hidden;
}

#queryDashboard {
    height: 200px;
}

#wrapper {
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
}

#scatter_vega_div {
    text-align: left;
    grid-column: 1/4;
}

#histogram_vega_div {
    text-align: right;
    grid-column: 4/6;
}

li {
    color: white;
}
.box {
    display: inline-flex;
    padding-left: 5%;
    align-items: flex-start;
}
.box > li {
    margin-left: 20px;
}

.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: aquamarine;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;

    p{
        margin-left: 48px;
    }
}

#loader { 
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
